extends layout

block content
  .mt-4.col-12.about-page
    .h2 Hello,
    .div Thanks for using my site!<br><br>
    p This is a fully open-source project: <a href="https://github.com/Voyager451/gotrade.plus" rel="noopener">See on GitHub!</a><br>
      | You can contact me on <a href="https://steamcommunity.com/profiles/76561198045763615" rel="noopener">Steam</a>.
      | All feedback is appreciated! You can <a href="https://docs.google.com/forms/d/e/1FAIpQLScLWnoICHRmBywibC_HpP-AJUZHYmEWLu4rtEt94J490bUdSQ/viewform" rel="noopener">leave it on this form</a>.

    p The main feature of this site is to provide a quick and useful search function for trade posts on <a href="https://www.reddit.com/r/GlobalOffensiveTrade" rel="noopener">/r/GlobalOffensiveTrade</a>.
    | I'm also keen on keeping this site up 99.99% of the time; so far, so good!<br><br>

    p <b>Upcoming Features:</b><br>
    ul
      li Filter for duplicate trades
      li Live functionality for searches
      li Ability to add multiple search terms and then receive desktop browser notifications and push notifications to your phone!<br><br>
